<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        #counter {
            background: lightblue;
            width: 50px;
            height: 50px;
            transition: width 2s;
        }
        #counter:hover{
            width: 300px;
        }
    </style>
</head>
<body>
<div id="app">
    <div id="counter" @click="countAdd"></div>
    <!--    <div v-for="todo in 3" v-if="!todo">-->
    <!--        {{ todo}}-->
    <!--    </div>-->
</div>
<script type="module">
    window.a = 12
    const {createApp, ref, nextTick} = Vue;
    const app = createApp({
        setup() {
            app.config.globalProperties.a = window.a
            let message = ref(0);

            async function countAdd() {
                message.value++
                console.log(document.getElementById('counter').textContent)
                await nextTick()
                console.log(document.getElementById('counter').textContent)
            }

            return {
                message,
                countAdd
            }

        }
    })
    app.mount('#app');
</script>
</body>
</html>
